


PORT = 3000

MONGODB_URI = 

FRONTEND_ORIGIN_1 = 
FRONTEND_ORIGIN_2 = 

# for email send using Resend API key
RESEND_API_KEY = 

# Email send using nodemailer Email and pass
EMAIL_USER =
EMAIL_PASS =

# jwt secreate 

ACCESS_TOKEN_SECRET =
REFRESH_TOKEN_SECRET =